
{% extends 'application_layout.html' %}

{% load static %}

{% block title %}
  Ficha de la reserva: {{ reservation.id }}
{% endblock %}


{% block body %}

  <div class="row">
    <div class="col-md-4 offset-1">

      <div class="row">
        <h1 class="article-name">
          Reserva de {{ user.first_name }} {{ user.last_name }}
        {% if reservation.state == "A" %}
            <span class="badge badge-pill badge-success"><i class="fas fa-chevron-left"></i> {{  reservation.get_state_display }}</span>
          {% elif reservation.state == "R" %}
            <span class="badge badge-pill badge-danger"><i class="fas fa-chevron-left"></i> {{  reservation.get_state_display }}</span>
          {% elif reservation.state == "P" %}
            <span class="badge badge-pill badge-warning"><i class="fas fa-chevron-left"></i> {{  reservation.get_state_display }}</span>
          {% endif %}
         </h1>
      </div>


      <div class="card">
        <div class="card-header article-description-title">Resumen de la reserva</div>
        <div class="card-body">
          <p class="card-text">{{ space.description }}</p>
        </div>
      </div>
    </div>

    <div class = "col-md-5 offset-2">
      <h3 class="block-title">Detalles de la reserva</h3>
      <div class="card">
        <div class="card body">
            <b>Fecha inicio: {{ reservation.starting_date_time }}</b>
            <b>Fecha termino: {{ reservation.ending_date_time }}</b>
        </div>
      </div>
        <div class = "row reservation-history-container">
          <h3 class="block-title">¿Cancelar reserva?</h3>
            <div class="reservation-history">
                <ul>
                </ul>
            </div>
        </div>
    </div>

  </div>
</div>
{% endblock %}
